// {{ ansible_managed }}
// monitoring-lab / common role — allow unattended-upgrades to reboot at 02:00

Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-Time "02:00";
